Repository kaze-no-manga/brand: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: :technologist: Last fixes for engine lint and publish lint
  .lintstagedrc
  package.json
Due: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: add release workflow using reusable npm-release
  .github/workflows/release.yml
Due: none

feat: add color tokens with primary purple palette
  .kiro/agents/dev.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add color tokens with primary purple palette
  src/tokens/colors.ts
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement complete design system with tokens, tailwind preset and comprehensive test suite
  .gitignore
  .kiro/agents/dev.json
  .lintstagedrc
  README.md
  assets/logo/logo.svg
  lib/css/variables.css
  lib/index.ts
  lib/preset.ts
  lib/tailwind/index.ts
  lib/tailwind/preset.ts
  lib/tokens/colors.ts
  lib/tokens/index.ts
  lib/tokens/radius.ts
  lib/tokens/shadows.ts
  lib/tokens/spacing.ts
  lib/tokens/typography.ts
  package-lock.json
  package.json
  test/index.test.ts
  test/tailwind/index.test.ts
  test/tailwind/preset.test.ts
  test/tokens/colors.test.ts
  test/tokens/index.test.ts
  test/tokens/radius.test.ts
  test/tokens/shadows.test.ts
  test/tokens/spacing.test.ts
  test/tokens/typography.test.ts
  tsconfig.json
  vitest.config.ts
Due: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add comprehensive dark mode support to design system
  README.md
  lib/css/variables.css
  lib/tailwind/preset.ts
  lib/tokens/colors.ts
  test/tailwind/preset.test.ts
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: complete Storybook documentation with interactive design tokens
  docs/.storybook/preview-head.html
  docs/.storybook/preview.ts
  docs/src/stories/Button.stories.ts
  docs/src/stories/Button.tsx
  docs/src/stories/Colors.stories.tsx
  docs/src/stories/Introduction.mdx
  docs/src/stories/Spacing.stories.tsx
  docs/src/stories/Typography.stories.tsx
  docs/src/stories/button.css
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): correct JSX comment syntax in Colors stories
  .kiro/agents/dev.json
  docs/src/stories/Colors.stories.tsx
  package-lock.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: update GitHub Actions to latest versions
  .github/workflows/docs.yml
Due: none

ci: :ambulance: `v5` isn't an existing tag for `actions/deploy-pages`
  .github/workflows/docs.yml
Due: none

ci: :ambulance: Added missing permissions
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  fbce395dfe4689ca47b95efe5a950b0c42b361c2
Due: none

build: :fire: Removed unnecessary stuff
  package-lock.json
  package.json
  tsconfig.json
Due: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve TypeScript compilation errors with strict tsconfig
  test/tailwind/preset.test.ts
  test/tokens/colors.test.ts
  test/tokens/spacing.test.ts
  tsconfig.json
Due: bash -c 'npm run dev', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: bash -c 'npm run build', bash -c 'npm run lint', bash -c 'npm run clean', biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Notes added by 'git notes add'
  3d1c714b1b4a577ad5defd28c8d9320ac88163a8
Due: none

chore: add code intelligence tool to dev agent
  .kiro/agents/dev.json
  .kiro/settings/lsp.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  bash -c 'npm run build': any of: package.json
  bash -c 'npm run lint': any of: package.json
  bash -c 'npm run clean': any of: package.json
  bash -c 'npm run dev': any of: *.ts
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{ts,tsx,cjs,json,yaml,graphql,md,css,scss,html}
